--extra-index-url https://download.pytorch.org/whl/cpu
flask
torch
torchvision
numpy
pillow
opencv-python-headless
reportlab
flask-cors
Flask-SQLAlchemy
Flask-Migrate
PyMySQL
python-dotenv
cryptography
sqlalchemy
tqdm
gunicorn